 Crie	um	vetor	com	12	números	inteiros

In [3]:
vetor <- (c(1,2,3,4,5,6,7,8,9,10,11,12))
vetor

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

 Crie	uma	matriz	com	4	linhas	e	4	colunas	preenchida	com	números	inteiros

In [7]:
matriz1 <- matrix(c(1:16), nrow = 4, ncol = 4)
mat

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14
[3,] 3    7    11   15
[4,] 4    8    12   16

Crie uma lista unindo o vetor e a matriz criados anteriormente

In [8]:
lista1  <- list(vetor, matriz1)
lista1

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

[[2]]
     [,1] [,2] [,3] [,4]
[1,]    1    5    9   13
[2,]    2    6   10   14
[3,]    3    7   11   15
[4,]    4    8   12   16

Usando a funcao read.table() leia o arquivo do link abaixo para uma dataframe
 http://data.princeton.edu/wws509/datasets/effort.dat

In [10]:
df <- data.frame(read.table("http://data.princeton.edu/wws509/datasets/effort.dat"))
df

               setting effort change
Bolivia        46       0      1
Brazil         74       0     10
Chile          89      16     29
Colombia       77      16     25
CostaRica      84      21     29
Cuba           89      15     40
DominicanRep   68      14     21
Ecuador        70       6      0
ElSalvador     60      13     13
Guatemala      55       9      4
Haiti          35       3      0
Honduras       51       7      7
Jamaica        87      23     21
Mexico         83       4      9
Nicaragua      68       0      7
Panama         84      19     22
Paraguay       74       3      6
Peru           73       0      2
TrinidadTobago 84      15     29
Venezuela      91       7     11